#logo {
  text-align: center;
  padding: 50px;
  width: 450px;
  height: auto;
}

#cover-header {
  font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
}

.markdown-section h3 {
  font-size: 1.3rem;
}

.markdown-section h4 {
  font-size: 1.1rem;
}
